* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background: white;
    color: #403a3a;
}

li {
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #403a3a;
}


/* menu */

#menu>a {
    width: 20%;
}

#menu ul {
    list-style: none;
    display: block;
    width: 80%;
    height: 4vw;
    overflow: hidden;
}

#menu ul li {
    flex-grow: 1;
}

#menu a {
    float: left;
}

#menu li {
    float: left;
    padding-left: 5%;
}

#menu ul {
    display: flex;
}

#menu li a {
    line-height: 4vw;
}

.fl a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.fl a:hover {
    text-decoration: underline;
}

#main {
    background-image: url(image/bg.gif);
    background-size: cover;
    background-attachment: fixed;
}

header {
    color: white;
    text-align: center;
}

header h1 {
    font-size: 60px;
    padding-top: 10%;
    text-shadow: 5px 5px 10px #000000;
}

header p {
    font-size: 24px;
    padding-top: 100px;
    line-height: 40px;
    text-shadow: 5px 5px 5px #000000;
    font-weight:1000;
}

header img {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 4%;
}


/* concept */

h2 {
    padding-top: 10%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10%;
}

#concept img {
    width: 25%;
    padding: 0 10% 10% 5%;
    float: left;
}

#concept p {
    padding: 0 0 5% 5%;
    font-size: 16px;
    line-height: 32px;
}
#concept{
    padding: 0 10%;
}
#concept1 p {
    padding: 5%;
    width: 50%;
}

#concept1 img {
    float: right;
    padding-top: 5%;
}


/* function */

#function {
    margin-top: 10%;
    color: white;
    background-image: url(image/2.gif);
    background-size: cover;
    background-attachment: fixed;
}

#function p {
    font-size: 20px;
    padding: 0 18% 12% 18%;
    text-shadow: 5px 5px 10px #000000;
}


/* design */

h3 {
    font-size: 24px;
    padding-bottom: 2%;
}

h4 {
    font-size: 20px;
    padding-bottom: 2%;
}

h5 {
    font-size: 18px;
    padding-bottom: 14px;
}

#design p {
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 2%;
}

#design .img1 {
    width: 30%;
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    padding-bottom: 4%;
}

#design{
    padding-bottom: 5%;
}

#depo {
    padding: 0 10%;
}

/*myDIV2*/

#myDIV2 {
    padding: 10%;
}

#myDIV2 .line, 
#myDIV3 .line,
#myDIV4 .line,
#myDIV5 .line{
    text-align: center;
}

#myDIV2 button{
    float: right;
}

#myDIV2 .cour {
    padding-top: 10%;
}

#myDIV2 .cour .i {
    padding-left: 5%;
}


/*myDIV3*/
#myDIV3 {
    padding: 10% 10% 0 10%;
    padding-top: 2%;
}

#myDIV3 .pa {
    padding: 10% 0;
}

#myDIV3 .pa img {
    float: left;
    padding: 0 10% 10% 0;
    width: 40%;
}

#myDIV3 .pa p {
    padding-bottom: 80px;
}

#myDIV3 button{
    float: right;
}

#myDIV3 .cour {
    padding: 10% 0;
}

#myDIV3 .cour .i {
    padding-left: 5%;
}


/*myDIV4*/
#myDIV4 {
    padding: 10% 10% 0 10%;
    padding-top: 2%;
}

#myDIV4 .pa img {
    float: left;
    padding: 0 10% 5% 0;
    width: 30%;
}

#myDIV4 .cour {
    padding: 10% 0;
}

#myDIV4 .cour .i {
    padding-left: 5%;
}

/*myDIV5*/
#myDIV5 {
    padding: 10% 10% 0 10%;
    padding-top: 2%;
}

#myDIV5 .cour {
    padding: 10% 0;
}

.line1 {
    text-align: center;
    padding: 5% 0 10% 0;
}


iframe {
    float: left;
    padding: 0 10% 10% 10%;
}

/* outcome */

#outcome {
    background-image: url(image/3.gif);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

#outcome p {
    font-size: 20px;
    padding-bottom: 100px;
    text-shadow: 5px 5px 10px #000000;
}

#outcome .p1 {
    font-size: 18px;
    padding: 0 20% 30px 20%;
    line-height: 30px;
    text-shadow: 5px 5px 10px #000000;
}

#outcome a {
    text-decoration: none;
    color: white;
}

#outcome a:hover {
    text-decoration: underline;
}

button {
    width: 300px;
    height: 60px;
    font-size: 14px;
    color: #403a3a;
    cursor: pointer;
    background-color: white;
    border: 1px solid #999999;
}

.fn-clear {
    overflow: hidden;
}

.btnbox {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
}

.btns {
    width: 49%;
    padding: 0 30px;
    box-sizing: border-box;
    height: 60px;
    font-size: 14px;
    color: #403a3a;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: 1px solid #999999;
    display: inline-block;
    white-space: nowrap;
}

.btns:hover{
    background-color: #403a3a;
    color: white;
}

button:hover {
    background-color: #403a3a;
    color: white;
}

#myDIV1,
#myDIV2,
#myDIV3 {
    display: none;
}

footer {
    background:#403a3a;
    padding: 20px;
    text-align: center;
    color: white;
}

footer img {
    height: 14px;
    padding: 0 5px;
}

@media screen and (max-width:1255px) {
    #button1 {
        margin-left: 10%;
    }
}

@media screen and (max-width:960px) {
    #design .img2 {
        width: 60%;
        margin: auto;
        display: block;
        padding: 10% 0;
    }
    .hi img,.conbox img {
        padding: 10% 0;
        width:60%;
        display: block;
        margin: auto;
    }
    .h1 .conbox{
        width: 32%;
    }
    .hi .btnbox.center a{
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:800px) {
    button {
        width: 40%;
    }
    #menu li a {
        font-size: 14px;
    }
    .catch img{
        padding-bottom: 3%;
        width: 100%;
    }
    #design .img2 {
        width: 100%;
        margin: auto;
        display: block;
    }
    .tomato img {
        padding-bottom: 5%;
        width: 100%;
    }

    .btnbox.center .btns{
        margin: auto;
        display: block;
        width: 100%;
    }
    .hi .conbox img{
        width: 100%;
    }
}
@media screen and (min-width:960px) {
    .btnbox,.conbox{
        width: 35%;
        float: right;
    }
    .btnbox.center .btns{
        margin: auto;
        display: block;
        width: 100%;
    }
    .btnbox,.conbox img{
        width: 100%;
        
    }
    .conbox img{
        padding-bottom: 10%;
    }
    #design .img2{
        width: 100%;
    }
}

